<div class="popup" id="popup">
  <i class="bi bi-trash"></i>
  <h4>do you really want to delay this thesis !</h4>
  <div>      
    <button type="button" class="btn btn-danger" id="delete-btn-dt">Reporter</button>
    <button type="button" class="btn btn-secondary" id="cancel-btn-dt">Cancel</button>
  </div>
</div>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Thème</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Accueil</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="/admin/affected-theses">Thèmes Affectés</a>
        </li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h3 class="mt-4">La liste des Thèmes déjà affectés à des Binôme</h3>
          <p class="mt-3">
            Dans cette liste, vous pouver consulter, modifier les thèmes qui
            sont déjà affectés à des étudiant par les enseignants l'ont créé
          </p>

          <!-- Table with stripped rows -->
          <table class="table datatable">
            <thead>
              <tr>  
                <!-- <th scope="col">Enseignant</th> -->
                <th scope="col">Binôme</th>
                <th scope="col">Intitulé</th>
                <th scope="col">Description</th>
                <th scope="col">Domaine</th>
                <th scope="col">Spécialité</th>
                <th scope="col">Repport</th>
              </tr>
            </thead>
            <tbody>
              <% if (binomes.length > 0 ) { %> <% binomes.forEach(function(binome){ %>
              <tr style="margin: 0 auto;">
                <td><%= binome.userName %></td>
                <td><%= binome.ApprovedThesis.title %></td>
                <td><%= binome.ApprovedThesis.description %></td>
                <td>
                  <%= binome.ApprovedThesis.field.title %>
                </td>
                <td><%= binome.ApprovedThesis.speciality.title %></td>
                <td>
                  <% if (binome.ApprovedThesis.session._id.toString() == NSession._id.toString()) { %>
                    <button
                    type="button"
                    class="btn btn-outline-danger deleteButtonConf delay-thesis"
                    data-delay-id="<%= binome.ApprovedThesis._id %>" id="delay-thesis-<%= binome.ApprovedThesis._id %>"
                  > Reporter  
                    </button>
                    <!-- <a href="/admin/affected-theses/report/<%= binome.ApprovedThesis._id %>" class="btn btn-light">Reporter</a> -->
                  <% } else { %>
                    <span class="text-warning">Reportée</span>
                  <% } %>
                </td>
                
              </tr>
              <% }); %> 
              <% } %>
            </tbody>
          </table>
          <!-- End Table with stripped rows -->
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
