<main id="main" class="main">
    <div class="pagetitle">      
      <h1>Créneaux</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Accueil</a></li>
          <li class="breadcrumb-item active"><a>Créneau</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <!-- IF : l'admin n'a pas encore lancer l'algo de génération des slots: -->
            <% if (slots.length === 0 ) { %>
            <div class="text-center">
                <h3 class="mt-4">
                  <strong>Vous n'avez pas encore générer la liste créneaux!</strong>
                </h3>
                <p>
                  <strong>
                    Nous vous invitons à clicker sur le boutton - Générer - afin de générer les créneux possible pour les deux sessions de soutenance
                  </strong>
                </p>
                <form action="/admin/slots" method="post">
                  <button type="submit" class="btn btn-success">Générer</button>
                </form>
                <!-- <a href="/admin/jury" class="btn btn-success">
                  Générer
                </a> -->
            </div>
            
            <% } else { %>
            <!-- ELSE (les jurys existent) -->

            <h3 class="mt-4">La liste des créneaux </h3>
            <p>Vous pouver consulter et modifier et filtrer et supprimer les créneaux des deux sessions de soutenance </p>

            <!-- Table with stripped rows -->
            <table class="table datatable">
            <thead>
                <tr>
                <th scope="col">Date</th>
                <th scope="col">Heure de début</th>
                <th scope="col">Heure de fin</th>
                <th scope="col">Session</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- data qui contient tous les jurys : jurys -->
                <% if (slots.length > 0 ) { %> <% slots.forEach(function(slot){ %>
                <tr>
                <td><%= slot.dateFormatted %></td>
                <td><%= `${slot.startHour}` %></td>
                <td><%= `${slot.endHour}` %></td>
                <td><%= `${slot.sessionType}` %></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a href="/admin/slot/<%= slot._id %>"><button type="button" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></button></a>
                    </div>
                </td>
                </tr>
                <% }); %> 
                <% } } %>
            </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

 
