<main id="main" class="main">
  <div class="pagetitle">
    <h1>Home</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="/admin">Accueil</a>
        </li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="row">
        <div class="col-md-4">
          <a href="/admin/students">
            <!--Etudiant card-->
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Etudiants</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%= studentCount %></h6>
                    <span class="text-success small pt-1 fw-bold"><%= binomeCount %></span>
                    <span class="text-muted small pt-2 ps-1">Binômes</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- End Etudiant Card -->

        <div class="col-md-4">
          <a href="/admin/professors">
            <!--Enseignant card-->
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Enseignants</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    style="color: #11ac3f; background-color: #e1fce9;"
                  >
                    <i class="bi bi-briefcase"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%= profCount %></h6>
                    <span class="text-success small pt-1 fw-bold"><%= professorsWithThesesCount%></span>
                    <span class="text-muted small pt-2 ps-1">
                      ont proposé
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- End Enseignant Card -->

        <div class="col-md-4">
          <a href="/admin/affected-theses">
            <!--Themes card-->
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Thèmes affectés</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                    style="color: #d81616; background-color: #fde6e6;"
                  >
                    <i class="bi bi-lightbulb"></i>
                  </div>
                  <div class="ps-3">
                    <h6><%=thesisAffectedCount%></h6>
                    <span class="text-success small pt-1 fw-bold">
                      / <%= thesisCount %>
                    </span>
                    <span class="text-muted small pt-2 ps-1">proposés</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!-- End Theme Card -->
      </div>
    </div>
    <!--end Cards sections-->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sommaire </h5>
            Bienvenue dans la plateforme administrateur, vous retrouverez les éléments principaux dont vous avez besoin pour la gestion du site. Ici vous voyez quelques KPI, il existe différentes pages faciles à prendre en main ( Planning, Listes, étudiants,...etc ). Vous disposez aussi des informations en rapport avec votre profil et la possibilité de modifier quelques informations qui vous concernent.
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
