<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/professor">Home</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="/professor/thesis">Thémes</a>
        </li>
        <li class="breadcrumb-item active">Modifier thémes</li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" style="color: #3088de;">Modifier thémes</h5>
            <form class="update-thesis-form">
              <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">
                  Intitulé
                </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="title" value="<%= thesis.title %>"/>
                </div>
              </div>

              <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">
                  Description
                </label>
                <div class="col-sm-10">
                  <textarea
                    class="form-control"
                    style="height: 100px;"
                    name="description"
                  ><%= thesis.description %></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Domaine</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="field">
                    <% if (fields.length > 0) { %>
                      <% fields.forEach(function(field) { %>
                        <option value="<%= field._id %>" <%= field.title === thesis.field.title ? 'selected' : '' %> >
                          <%= field.title %>
                        </option>
                      <% }); %>
                    <% } else { %>
                      <option value=""></option>
                    <% } %>
                  </select>
                  
                </div>
              </div>

              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Spécialité</label>
                <div class="col-sm-10">
                  <select class="form-select" aria-label="Default select example" name="speciality">
                    <% if (specialities.length > 0) { %>
                      <% specialities.forEach(function(speciality) { %>
                        <option value="<%= speciality._id %>" <%= speciality.title === thesis.speciality.title ? 'selected' : '' %> >
                          <%= speciality.title %>
                        </option>
                      <% }); %>
                    <% } else { %>
                      <option value=""></option>
                    <% } %>
                  </select>
                  
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-lg-12" style="margin-left: 78%;">
                  <button
                    style="
                      color: red;
                      margin-top: 45px;
                      border-color: red;
                      background-color: white;
                      margin-right: 10px;
                    "
                    type="reset"
                    class="btn btn-primary"
                  >
                    Annuler
                  </button>
                  <button
                    style="
                      color: green;
                      margin-top: 45px;
                      border-color: green;
                      background-color: #fff;
                    "
                    type="submit"
                    class="btn btn-primary update-thesis-btn"
                    data-thesis-id = "<%= thesis._id %>"
                  >
                    Modifier
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
