<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h2>La liste des binôme</h2>

            <table class="table datatable">
              <thead>
                <tr>
                  <th>Binôme</th>
                  <th>Domaine</th>
                  <th>Intitulé</th>
                  <th>Spécialité</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <% if (supervisedBinomes.length > 0 ) { %> <% supervisedBinomes.forEach(function(binome){ %>
                <tr>
                  <td><%= binome.userName %></td>
                  <td><%= binome.ApprovedThesis.field ? binome.ApprovedThesis.field.title : 'deleted'%></td>
                  <td><%= binome.ApprovedThesis.title %></td>
                  <td><%= binome.ApprovedThesis.speciality.title %></td>
                  <td><%= binome.ApprovedThesis.description %></td>
                </tr>
                <% }); %> <% } else { %>
                  <div class="text-center text-danger">no entries found</div>
                  <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
