<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/professor">Accueil</a>
        </li>
        <li class="breadcrumb-item active">Profile</li>
      </ol>
    </nav>
  </div>
  <section class="section profile">
    <div class="row">
      <div class="col-xl-4"></div>

      <div class="col-12">
        <div class="card">
          <div class="card-body pt-3">
            <h2 style="margin-top: 1%; margin-bottom: 3%;">Profile</h2>
            <div style="margin: 0 auto;width:80%;">
              <div
                class="tab-pane fade show active profile-overview"
                id="profile-overview"
              >
                <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    Nom
                  </div>
                  <div class="col-lg-9 col-md-8"><%= user.lastName %></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    Prénom
                  </div>
                  <div class="col-lg-9 col-md-8"><%= user.firstName %></div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    Grade
                  </div>
                  <div class="col-lg-9 col-md-8"><%= user.grade %></div>
                </div>

                

                <!-- <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    N° Téléphone
                  </div>
                  <div class="col-lg-9 col-md-8">0000000000</div>
                </div> -->

                <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    Email
                  </div>
                  <div class="col-lg-9 col-md-8">
                    <%= user.email %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label" style="color: #3088de;">
                    Domaines
                  </div>
                  <div class="col-lg-9 col-md-8">
                    <% user.fields.forEach(function(field){ %>
                      	<div class="btn btn-outline-primary">
                          <%= `${field.title}` %>
                        </div>
                    <%});%>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->
